/* Screen {
    padding-right: 2;
} */

#inputer {
    height: 10%;
    padding: 0;
}

#tools{
    margin-top: 1;
    height: 10%;
}

#tools > Button {
    margin-right: 2;
}

#response {
    height: 25%;
}

#response > * {
    width: 50%;
}

#req_viewer {
    margin-top: 1;
    height: 50%;
}

#request {
    width: 65%;
}

#logs {
    width: 35%;
}

Input {
    height: 1;
    border: none;
}

Button {
    background: #007bff;
    /* height: 3; */
    width: 5;
}
