#inputer {
    height: 10%;
    min-height: 3;
    padding: 0;
}

#tools{
    margin-top: 1;
    height: 10%;
}

#tools > Button {
    margin-right: 2;
}

#logs {
    height: 40%;
}

#req_viewer {
    margin-top: 1;
    height: 50%;
}

Input {
    height: 1;
    border: none;
}

Button {
    background: #007bff;
    /* height: 3; */
    width: 5;
}
